 .Clase{
     width: 100%;
     background-color: rgb(0, 0, 0);
     overflow: auto;
     margin-top: 15px;
 }
 
 .Clase a{
     float: left;
     text-align: center;
     padding: 5px;
     color: rgb(255, 0, 0);
     text-decoration: none;
     font-size: 25px;
     background-color: rgb(0, 0, 0);
     margin-left: 5%;
 }
 
 .active{
     background-color: black;
     color: rgb(0, 0, 0);
 
 }