<div class="Clase">
    <a [routerLink]="['curriculum']" routerLinkActive="active">Informacion</a>
    <a [routerLink]="['experiencia']" routerLinkActive="active">Experiencia</a>
    <a [routerLink]="['educacion']" routerLinkActive="active">Educacion</a>
    <a [routerLink]="['formulario']" routerLinkActive="active">Formulario</a>

</div>
<br>
<br>
