<h1>
    Informacion Personal
</h1>
<br>
<br>
<h2>Informaci&oacute;n de contacto</h2>
<br>
<div class="imagen1">
    <img src="../../../assets/retrato-joven-sonriente-gafas_171337-4842.webp" alt="perfil" class="perfil">
    <div>
        <ul class="informacion1">
            <li><b>Nombre y Apellido:</b> Royer Andres</li>
            <br>
            <li><b>Apellidos:</b> Tucumani Pelaez</li>
            <br>
            <li><b>Email:</b></li>
            <br>
            <li><b>Direcci&oacute;n:</b> Campo ferial AV.Huanchaca Calle.Guapomos</li>
            <br>
            <li><b>Tel&eacute;fono:</b> 76493567</li>
            <br>
            <li><b>Fecha de nacimiento:</b> 22/01/2002</li>
            <br>
            <li><b>Nacionalidad:</b> Boliviana</li>
        </ul>
    </div>
</div>
<br>
<br>
<br>
<div class="texto">
    <h2>Objetivo Profesional</h2>
    <div class="objetivos">
        <p class="objet">
            Completar mis estudios de ingeniero en sistemas, poder conseguir el cargo de senior en alguna empresa.
        </p>
    </div>
</div>