.perfil{
    width:300px;
    height:300px;
    border-radius:250px;
    margin-left: 20%;
    margin-right: 90px;
    float: left;
    margin-top: 30px;

}

.imagen1{
    background-image: url(../../../assets/163986-amoled-oled-luz-triangulo-material_propiedad-1170x2535.png);
    height: 45vh;
    width: 100%;
}

.informacion1{
    transform: translateX(5%) translateY(5%);
    float:right ;
    margin-right: 20%;
    font-size: 18px;
}

.texto{

}

h1{
    margin-left: 50px;
}
h2{
    margin-left: 50px;

}

.objetivos{
    margin-left: 50px;

}